<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.example.demo.repository.UMapper">

  <resultMap type="com.example.demo.model.User" id="user">
  	<!--  id属性は任意の値 -->
    <!--  columnはSQLのカラム　propertyはエンティティクラスのフィールド -->
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="price" property="price"/>
  </resultMap>

  <select id="findOne" resultMap="user">
    select  *
    from    fruits
    where   id = #{id}
  </select>

  <select id="find" resultType="com.example.demo.model.User">
    select  *
    from    fruits
  </select>

  <insert id="insertOne">
    insert ignore into fruits (
        id,
        name,
        price
    )
    values (
        #{id},
        #{name},
        #{price}
    )
  </insert>

  <update id="updateOne">
    update  fruits
    set     name = #{name},
            price = #{price}
    where   id = #{id}
  </update>

  <delete id="deleteOne">
        delete from
        fruits
    where
        id = #{id}  
  </delete>

 </mapper>